<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="./home.css" />
  </head>
  <body>
    <Header>
      <p>Home</p>
    </Header>
    <div class="banner">
      <p>Welcome, {{user}} </p>
    </div>
    <hr />
    <footer>
      <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-snapchat"></i>
      </div>
      <div class="logoutbtn">
        <a href="/users/logout" name="logout">Log out</a>
      </div>
    </footer>
  </body>
</html>