<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <base href="/">
    <link rel="stylesheet" href="/style.css" type="text/css"/>
  </head>

  <body>
    <div>
      <h1>LOGIN</h1>
      <div class="login"><h3></h3>    
        <form class="loginForm" action="/users/login" method="POST">
          <div class="username">            
              <label for="username">Username</label>
              <input type="text" name="username" />            
          </div>
          <div class="password">            
              <label for="password">Password</label>
              <input type="password" name="password"/>            
          </div>
          <input type="submit" class="submit"></input>
        </form>
        <div><p>If you new here please <a href="/users/register">Register</a></p></div>
      </div>
    </div>
  </body>

</html>